.ZHCM_PM_0681 .zReportTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 0 0.5em 3.1em;
}
.ZHCM_PM_0681 .zReportTileMobile {
    flex-direction: column;
}
.ZHCM_PM_0681 .zCRTResultsContainer {
    width: 337px;
    flex-direction: column;
}
.ZHCM_PM_0681 .zCRTResultsContainerMobile {
    width: auto;
}
.ZHCM_PM_0681 .zCRTItem {
    display: flex;
    align-items: center;
}

.ZHCM_PM_0681 .zCTRLweight{
    display: flex;
    align-items: center;
}

.ZHCM_PM_0681 .zCTRLprocent{
    display: flex;
    align-items: center;
    width: 10%;
}
.ZHCM_PM_0681 .zCTRLprocentInput{
    /*margin: 0 0 0 0.3rem;*/
}
.ZHCM_PM_0681 .zCTRLprocentInput input{
    text-align: center;
}

.ZHCM_PM_0681 .zCtrlRzl{
    display: flex;
    align-items: center;
    width: 10%;
    padding: 0 1.0rem;
}
.ZHCM_PM_0681 .zCtrlRzlSpan {
    font-weight: bold;
    /*padding-left: 8px;*/
}

.ZHCM_PM_0681 .zResSegmBtn {
    width: 100% !important;
}

.ZHCM_PM_0681 .zCRTMajorItem {
    display: flex;
    align-items: center;
    flex-basis: 35%;
    margin-right: 0.5rem;
    max-width: 35%;
}

.ZHCM_PM_0681 .zCRTMajorItem p {
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ZHCM_PM_0681 .zReportTile .sapMTextArea {
    margin: 0 !important;
}

.ZHCM_PM_0681 .zReportTitleOverdue {
    background-color: rgb(254,217,220);
}
.ZHCM_PM_0681 .zReportTitleMonth {
    background-color: rgb(255,253,206);
}


@media (min-width: 300px) and (max-width: 600px){
    .ZHCM_PM_0681 .zCtrlRzl{
        padding: 0;
        margin: 0.3em 0;
    }
}

@media (min-width: 300px) and (max-width: 414px){
    .ZHCM_PM_0681 .zReportTile{
        margin: 0 0 0.5em 0;
    }

    .ZHCM_PM_0681 .zDevTypePanel .sapMPanelExpandableIcon {
        margin: 0;
        width: 1.75rem;
    }

    .ZHCM_PM_0681 .zReportTile .sapMTextArea.zErrorBorder  {
        border: rgb(189, 0, 20) 1px solid !important;
    }

    .ZHCM_PM_0681 .zCTRLprocent{
        width: 100%;
        margin: 0.5em 0;
    }
}