.ZHCM_PM_0681 .zMBlackBold {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #333333;
}

.ZHCM_PM_0681 .zOverviewITB .sapMListTblSubCnt,
.ZHCM_PM_0681 .sapMListTblHighlightCol + .sapMListTblHeaderCell,
.ZHCM_PM_0681 .sapMListTblHighlightCell + .sapMListTblCell {
    padding-left: 0.5rem !important;
}
.ZHCM_PM_0681 .zMOverviewTab td.sapMListTblCell {
    vertical-align: top !important;
    padding-top: 20px !important;
}

.ZHCM_PM_0681 .zOverviewITB .sapMListTblCell {
    padding: 0;
}

.ZHCM_PM_0681 .zMFilterIcon {
    color: white;
    font-size: 1.6rem;
}

.ZHCM_PM_0681.zMFilterDialogContentBox {
    padding: 1rem;
}

.ZHCM_PM_0681 .zMOverviewTab .sapMListTblNavCol,
.ZHCM_PM_0681 .sapMLIBImgNav {
    width: 1.5rem !important;
}

.ZHCM_PM_0681 .zCreateIPRCompList .sapMLIB.sapMLIBSelected {
    border-bottom: 1px solid transparent;
}

/* IPR Create ITB styles */
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead {
    width: 100%;
    display: flex;
    margin: 0;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead>* {
    display: flex;
    margin: auto 0;
    height: 60px;
    align-items: center;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead>*>.sapMITBTab,
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead>*>.sapMITBHorizontalWrapper {
    display: flex;
    width: auto;
    height: auto;
    margin: 0px 5px;
    overflow: visible;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead>*>.sapMITBHorizontalWrapper>* {
    padding: 0;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBContentArrow {
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBHead>.sapMITBSep {
    flex-grow: 1;
    height: 1px;
    border: 0px;
    border-bottom: 2px solid rgb(0, 158, 224);
}

.ZHCM_PM_0681 .zIprITBMobile .sapMITBFilter.sapMITBSelected {
    width: 36%;
}

.ZHCM_PM_0681 .zIprITBMobile .sapMITBFilterIcon {
    font-size: 15px;
    height: 30px;
    line-height: 31px;
    width: 30px;
    margin-top: 2px;
}
.ZHCM_PM_0681 .zSelectedCompTextWrapperMobile {
    padding: 1em 15px;
    background: white;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBDisabled .sapMITBHorizontalWrapper {
    display: none !important;
}
.ZHCM_PM_0681 .zIprITBMobile .sapMITBFilter:last-child {
    padding-right: 0;
}

.ZHCM_PM_0681 .zDevMethItemMobile {
    margin-bottom: 5px;
}

.ZHCM_PM_0681 .zDevTypePanelMobile .sapMPanelContent {
    padding: 10px 0px 10px 10px;
}
.ZHCM_PM_0681 .zDevTypePanelMobile .sapMPanelWrappingDivTb .sapMPanelExpandableIcon {
    width: 1.5em;
    line-height: 1.5em;
}
.ZHCM_PM_0681 .zDevTypePanelMobile .sapMPanelWrappingDivTb .zDevTypePanelToolbar {
    margin-left: 1.65em !important;
}
.ZHCM_PM_0681 .zDevTypePanel .sapMIBar .sapMBarChild:first-child {
    margin: 0;
}
.ZHCM_PM_0681 .zCompSelHeaderMobile {    
    border-bottom-width: 1px;
}
.ZHCM_PM_0681 .zMethAddButtonMobile {
    border-radius: 5px;
    border: 1px solid #009de0;
    background-color: #fff;
    width: 57px;
}
.ZHCM_PM_0681 .zMethAddButtonMobile:active {
    background-color: #0072a3;
    border: 1px solid #0072a3;
}
.ZHCM_PM_0681 .zMethAddButtonMobile span {
    color: #c3c3c3;
}
.ZHCM_PM_0681 .zMethDelButtonMobile * {
    color: #c3c3c3;
}

.ZHCM_PM_0681 ul.sapMSelectList li {
    border-bottom: 1px solid #ccc;
}
.ZHCM_PM_0681 ul.sapMSelectList li:first-child {
    border-top: 1px solid #ccc;
}
.ZHCM_PM_0681 li.sapMSelectListItemBaseSelected {
    border: 1px solid #236cb0 !important;
    outline: none !important;
}
.ZHCM_PM_0681 .zLibContent .sapMFlexItem .sapMLabel {
    white-space: normal;
}
.ZHCM_PM_0681[data-device-is-phone="true"] .zCommentsPanel {
    width: 104% !important;
    margin-left: -2%;
}
.ZHCM_PM_0681 .zCommentsPanel .sapMPanelContent .sapMFeedInBase {
    width: 97%;
    margin: 0 1.5%;
}
.ZHCM_PM_0681 .zCommentsPanel .sapMPanelContent {
    overflow-x: hidden;
}
.ZHCM_PM_0681 .zBtnBack {
    width: 1.7em;
}
.ZHCM_PM_0681 .zBtnBack .sapMBtnInner {
    background: none !important;
    margin: 0 0 0 -0.4em;
}
.ZHCM_PM_0681 .zBtnBack .sapMBtnActive {
    background: 1px solid #ccc !important;
}
.ZHCM_PM_0681 .zBtnBack .sapMBtnInner .sapUiIcon {
    color: #236cb0 !important;
    text-shadow: 0 0 2px #ccc !important;
}
.ZHCM_PM_0681 .zBtnBack .sapMBtnActive .sapUiIcon {
    color: #143f67 !important;
}

.ZHCM_PM_0681 .zBtnGuideTop .sapMBtnInner {
    background: #fff !important;
}
.ZHCM_PM_0681 .zBtnGuideTop .sapMBtnInner .sapUiIcon {
    color: #236cb0 !important;
    text-shadow: 0 0 2px #ccc !important;
}
.ZHCM_PM_0681 .zBtnGuideTop .sapMBtnActive .sapUiIcon {
    color: #143f67 !important;
}
.ZHCM_PM_0681 .zTopHeader {
    padding: 5px !important;
}
.ZHCM_PM_0681[data-device-is-phone="true"] .zTopHeader .sapMFlexBox:first-child {
    width: 100%;
}
.ZHCM_PM_0681 .zExpandedHdr {
    padding-left: 1em;
}
.ZHCM_PM_0681 .zColListItemsTextLongBox {
    /* экранирование стилей */
}
.ZHCM_PM_0681 .zColListItemsTextLong {
    max-height: 3em;
    overflow: hidden;
    line-height: 1em;
    padding-bottom: 0.5em;
    transition: 0.5s;
}
.ZHCM_PM_0681 .zColListItemsTextOpen {
    max-height: max-content;
    transition: 0.5s;
}

.ZHCM_PM_0681 .zColListItemsTextLongExpand {
    position: absolute;
    padding: 0;
    bottom: -10px;
    right: 0em;
    width: 4.2em;
    height: 1.8em;
    background: #fff;
    z-index: 9;
    transition: 0.1s;
}
.ZHCM_PM_0681 .zColListItemsTextLongExpand:before {
    content: "...";
    position: absolute;
    left: 0;
    bottom: 9px;
    color: #32363a;
}

.ZHCM_PM_0681 .zBtnRotate {
    transform: rotate(180deg);
}
.ZHCM_PM_0681 .zBtnRotate:before {
    content: "";
    display: none;
}
.ZHCM_PM_0681 .zColListItemsTextLongExpand .sapMBtnInner {
    display: contents;
}
.ZHCM_PM_0681 .zColListItemsTextLongExpand .sapMBtnInner .sapUiIcon {
    width: auto;
    line-height: normal;
}
.ZHCM_PM_0681 .zBlueTextBoldBefore:before {
    content: "Компетенция: ";
    color: #32363a;
}
.ZHCM_PM_0681 .zPageContent {
    padding: 0.5em;
}
.ZHCM_PM_0681 .zCompSelHeaderMobile .sapMFlexItem:last-child .sapMBtn {
    height: auto;
    padding: 0;
}
.ZHCM_PM_0681 .zCompSelHeaderMobile .sapMFlexItem:last-child .sapMBtn .sapMBtnInner {
    height: 1.4em;
    display: flex;
    align-items: center;
}
.ZHCM_PM_0681 .zCRTResultsContainer div:first-child:not(.sapMSegBBtnInner) {
    font-size: 1em !important;
    text-align: center;
}
.ZHCM_PM_0681 .sapMSegBBtnInner {
    font-size: 1em;
    text-align: center;
}
.ZHCM_PM_0681 .zMCompetenciesBox{
    padding: 1px;
}
.ZHCM_PM_0681 .zCompPanelMobile .sapMSegBBtnInner {
    line-height: 34px !important;
}

.ZHCM_PM_0681 .zFeedsStatusName {
    border: none;
    margin-left: 0.81rem;
}
.ZHCM_PM_0681 .zCommentsPanel .sapMVBox .sapMVBox .sapMFlexItem {
    border-bottom: 1px solid #e5e5e5;
}
.ZHCM_PM_0681 .zPrintBtn {
    height: auto;
    padding: 0;
    margin: 0px 0px 0px 8px;
}
.ZHCM_PM_0681 .zPrintBtn .sapMBtnInner {
    border: none;
}

.ZHCM_PM_0681 .zPrintBtn .sapMBtnInner .sapUiIcon {
    font-size: 1.7em;
}
.ZHCM_PM_0681 .zPrintBtn:disabled .sapMBtnInner .sapUiIcon {
    color: #848484;
}
.ZHCM_PM_0681 .zPrintBtn:disabled .sapMBtnActive {
    background: none;
}

.ZHCM_PM_0681 .zHideBigBlueText .sapMListUl .sapMLIB .sapMLIBContent .sapMFeedListItem .sapMFeedListItemHeader {
    height: auto;
    max-height: 5em;
}
.ZHCM_PM_0681 .zHideBigBlueText .sapMListUl .sapMLIB .sapMLIBContent .sapMFeedListItem .sapMFeedListItemHeader .sapMFeedListItemTextName .sapMLnk {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word !important;
}
.ZHCM_PM_0681 .zHideBigBlueText .sapMListUl .sapMLIB .sapMLIBContent .sapMFeedListItem .sapMFeedListItemText {
    word-wrap: break-word !important;
}

.ZHCM_PM_0681 .sapMSelectListItem {
    overflow: visible !important;
    white-space: normal !important;
    line-height: 1.2em !important;
    height: auto !important;
    padding: 1em;
}

.ZHCM_PM_0681.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner {
    color: #bb0000 !important;
    border: 1px solid !important;
    border-color: #bb0000 !important;
}
.ZHCM_PM_0681.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner.sapMBtnActive {
    background: #bb0000 !important;
    color: #FFF !important;
}

/*around iphone 5*/
@media (min-width: 300px) and (max-width: 414px) {
    .ZHCM_PM_0681 td.sapMListTblCell:nth-child(3) {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .ZHCM_PM_0681 .zPrintBtn {
        background-color: rgba(255, 255, 255, 0);
        background-image: none;
        left: -4px;
    }
    .ZHCM_PM_0681 .zPrintBtn .sapMBtnInner {
        background-color: rgba(255, 255, 255, 0);
        background-image: none;
    }
    .ZHCM_PM_0681 .zColListItemsTextLongExpand {
        width: 4em;
    }
    .ZHCM_PM_0681 .zDevTypePanel .sapMIBar.sapMTB {
        margin-left: 1.5em;
        height: auto;
    }
    .ZHCM_PM_0681 .zCompPanelMobile .sapMSegBBtnInner {
        font-size: 13px !important;
    }

    .ZHCM_PM_0681 .zIprITBMobile .spaMITBContainerContent {
        padding: 0.5em;
    }

    .ZHCM_PM_0681 .zIprITBMobile .spaMITBContainerContent .spaMITBContent {
        padding: 0.5em;
    }

    .ZHCM_PM_0681 .zDevTypePanelMobile header.sapMPanelWrappingDivTb .sapUiIcon {
        margin: 0 !important;
    }

    .ZHCM_PM_0681 .zCommentsPanel .sapMPanelExpandableIcon {
        margin: 0 0.75em;
        width: 1.75rem;
    }

    .ZHCM_PM_0681.instructionResponsivePopover h2 {
        font-size: 0.9em;
        overflow: visible;
    }

    .ZHCM_PM_0681 .sapMSegB .sapMSegBBtn {
        padding: 0;
    }

    .ZHCM_PM_0681 .zOverallTextArea.zErrorBorder {
        border: 1px solid #bd0014;
    }

    .ZHCM_PM_0681.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner {
        color: #bb0000 !important;
        border: 1px solid !important;
        border-color: #bb0000 !important;
    }
    .ZHCM_PM_0681.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner.sapMBtnActive {
        background: #bb0000 !important;
        color: #FFF !important;
    }
    .ZHCM_PM_0681 ul.zErrorBorder>li {
        max-width: 91px;
    }
}

.ZHCM_PM_0681 .zBoxStatisticaReport {
    padding: 0.375rem;
}
