.ZHCM_PM_0681 {
    background-color: white;
    background-image: none;
}


.ZHCM_PM_0681.sapUiGlobalBackgroundColor,
.ZHCM_PM_0681 .sapMShellGlobalInnerBackground {
    background: #fff;
}

.ZHCM_PM_0681 *:focus {
    outline: none !important;
    outline-style: none !important;
}
.ZHCM_PM_0681 * {
    outline: none !important;
    outline-style: none !important;
}
.ZHCM_PM_0681 .sapMBtn:focus .sapMBtnFocusDiv {
    border: none !important;
}


.ZHCM_PM_0681 .zOverviewITB .sapMITH {
    background: #fff;
}

.ZHCM_PM_0681 .zCorpTB.sapMTB {
    background-size: 100% 110px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#606366), to(#2c2c2c));
    background-image: -webkit-linear-gradient(top center, #606366, #2c2c2c);
    background-image: -ms-linear-gradient(#606366, #2c2c2c);
    background-image: linear-gradient(top center, #606366, #2c2c2c);
    height: 45px;
    padding-left: 30px;
}

.ZHCM_PM_0681 .zCorpTB.sapMTB > .sapMText {
    font-weight: bold;
    text-shadow: 1px 1px 2px #333333;
    color: white;
    font-size: 13px !important;
}

/*---*/
.ZHCM_PM_0681 .sapMPanelWrappingDivTb {
    border: none;
}

.ZHCM_PM_0681 .zDevTypePanel > div {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.ZHCM_PM_0681 .zDevTypePanel,
.ZHCM_PM_0681 .sapMPanelContent {
    border: none !important;
}

.ZHCM_PM_0681 .zDevTypePanelToolbar {
    border-bottom-color: transparent;
}

.ZHCM_PM_0681 .zDevTypePanel .sapMIBar.sapMTB {
    padding-left: 0;
    margin-left: 3rem;
}
.ZHCM_PM_0681 .zDevTypePanel .sapMSegB .sapMSegBBtn .sapMSegBBtnInner {
    padding-left: 0;
    padding-right: 0;
}

/*---*/
.ZHCM_PM_0681 .zOverviewITB .sapMITH {
    background: #fff;
}
.ZHCM_PM_0681 .zIprITB .sapMITBSelected .sapMITBText {
    color: #000000;
}

.ZHCM_PM_0681 .zOverviewITB .zIprITB,
.ZHCM_PM_0681 .sapMITBContainerContent,
.ZHCM_PM_0681 .sapMITBContent {
    border: none
}

.ZHCM_PM_0681 .zOverviewITB .sapMITBText {
    width: auto;
}

.ZHCM_PM_0681 .zOverviewITB .sapMITBTab {
    width: auto;
}

.ZHCM_PM_0681 .zOverviewITB .sapMITBVertical {
    width: 11rem;
}

.ZHCM_PM_0681 .zIprITB .sapMITH {
    background-color: rgb(239, 244, 249);
}
.ZHCM_PM_0681 .zIprITB .sapMITBHead {
    white-space: normal;
}

.ZHCM_PM_0681 .zIprITB .sapMITBHorizontal.sapMITBFilter > .sapMITBHorizontalWrapper > .sapMITBCount {
    display: none;
}

.ZHCM_PM_0681 .zBottomToolbar {
    margin: 1rem 1rem 0 1rem;
    height: 2.5rem !important;
    background-color: #696969;
    padding: 0 1rem 0 1rem;
}
.ZHCM_PM_0681 .zFilterButton .sapMBtnInner {
    width: 143px;
    height: 32px;
    background-color: rgba(84, 150, 205, 1);
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 14px;
    background: rgba(84, 150, 205, 1);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--Expandable header-*/
.ZHCM_PM_0681 .zTopHeader {
    background-color: rgba(239, 244, 249, 1);
    padding: 15px;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
}

.ZHCM_PM_0681 .zBtnBack .sapMBtnInner {
    border: none;
    background-color: transparent;
    height: auto;
}

.ZHCM_PM_0681 .zHdrTextBlack {
    font-size: 13px;
    color: #000000;
}

.ZHCM_PM_0681 .zTabHeaderNameEvalProc {
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
}

.ZHCM_PM_0681 .zExpandedHdr {
    margin-top: 20px;
    padding-left: 1.7em;
    align-items: flex-start;
}

.ZHCM_PM_0681 .zWrapperHeader .sapMText {
    font-size: 0.8rem;
}

.ZHCM_PM_0681 .zWrapperHeader .sapMFT {
    font-size: 0.8rem;
    color: rgb(153, 153, 153);
}

.ZHCM_PM_0681 .zHeaderUserDataBox {
    width: 100%;
}

.ZHCM_PM_0681 .zHeaderUserData {
    /* экранирование стилей */
}

.ZHCM_PM_0681 .zHdrTextBlack {
    font-size: 13px;
    color: #000000;
    white-space: normal;
}

.ZHCM_PM_0681 .zHdrTextGrey {
    font-size: 13px;
    color: #999999;
    white-space: nowrap;
}

.ZHCM_PM_0681 .zUserAvatar {
    border-radius: 100%;
}

/*---*/
.ZHCM_PM_0681 .zTabHeaderTxt {
    font-size: 12px !important;
    font-weight: 700 !important;
    width: 100%;
}

.ZHCM_PM_0681 .zColListItem {
    height: 2.5em;
}

.ZHCM_PM_0681 .zColListItem .sapMText {
    font-size: 12px;
}

.ZHCM_PM_0681 .zBlueTextBold {
    color: rgb(25, 158, 221) !important;
    font-weight: 700 !important;
}

.ZHCM_PM_0681 .zCellMarginRight {
    margin-right: 0.8rem;
}

.ZHCM_PM_0681 .zGreyTextBold {
    color: rgb(204, 204, 204) !important;
    font-weight: 700 !important;
}

.ZHCM_PM_0681 [data-color-style=zRedTakeAction] {
    font-size: 1.5rem !important;
    color: red !important;
}

.ZHCM_PM_0681 [data-color-style=zBluePending] {
    font-size: 1.5rem !important;
    color: rgb(124, 168, 222) !important;
}

.ZHCM_PM_0681 [data-color-style=zGreenCompleted] {
    font-size: 1.5rem !important;
    color: rgb(26,198,39) !important;
}

.ZHCM_PM_0681 [data-color-style=zGreyText] {
    color: #7F7F95 !important;
}

.ZHCM_PM_0681 [data-color-style=zBlueText] {
    color: #009de0 !important;
}

.ZHCM_PM_0681 .zOverviewTable {
    margin: 5px 0;
}

/* --- */
.ZHCM_PM_0681 .zDnDWrapper {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    width: 49%;
    max-width: 450px;
    vertical-align: top;
}

.ZHCM_PM_0681 .zCompetencyTile {
    background-color: white;
    border: 1px solid #cccccc;
    text-align: left;
    box-sizing: border-box;
    transition: 0.3s;
    max-width: 70%;
    min-width: 120px;
    font-size: 12px;
    font-weight: 400;
    margin: 5px auto 5px auto;
    padding: 10px;
}

.ZHCM_PM_0681 .zCompetencyTile:hover {
    border-color:  #808080;
    cursor: move;
    font-weight: bold;
}

.ZHCM_PM_0681 .zCompContainer {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    min-height: 190px;
    max-width: 400px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    width: 100%;
}

.ZHCM_PM_0681 .zLineSeparator {
    display: inline-block;
}

.ZHCM_PM_0681 .zLineSeparator:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid rgb(216, 216, 216);
    top: 0;
}

/* ----- */
.ZHCM_PM_0681 .zWhiteButtonIcon .sapMBtnIcon {
    color: white;
}

.ZHCM_PM_0681 .zRedBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: rgb(189, 0, 20);
    border: rgb(189, 0, 20) 1px solid;
}
.ZHCM_PM_0681 .zRedBtn:hover {
    cursor: pointer;
    background-color: #FF4D5E;
}
.ZHCM_PM_0681 .zRedBtn .sapMBtnContent {
    display: inline-block;
}

.ZHCM_PM_0681 .z360BtnMobile [id$="-inner"] {
    white-space: nowrap;
}
.ZHCM_PM_0681 .z360BtnMobile .sapMBtnContent:after {
    content: "";
    font-family: 'SAP-icons';
    font-size: 18px;
    line-height: 18px;
    margin-left: 4px;
}

.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn {
    color: white;
    background-color: transparent;
    font-size: 0.8rem;
    border: #007cc0 1px solid;
    width: 120px;
}
.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn[disabled="true"],
.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn[disabled="disabled"] {
    opacity: 0.5;
}
.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn .sapMBtnContent {
    display: inline-block;
}

.ZHCM_PM_0681 .zBottomToolbarDesktop .zSaveBtn .sapMBtnIcon {
    margin-left: 0;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    color: white;
}

.ZHCM_PM_0681 .zBottomToolbarDesktop .zTbBlueBtn, 
.ZHCM_PM_0681 .zContMyUnits .zTbBlueBtn .sapMBtnInner {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background: #007cc0;
    border: #007cc0 1px solid;
}
.ZHCM_PM_0681 .zBottomToolbarDesktop .zTbBlueBtn[aria-disabled=true],
.ZHCM_PM_0681 .zBottomToolbarDesktop .zRedBtn[aria-disabled=true],
.ZHCM_PM_0681 .zContMyUnits .zTbBlueBtn[aria-disabled=true] .sapMBtnInner {
    opacity: 0.3;
}
.ZHCM_PM_0681 .zBottomToolbarDesktop .zTbBlueBtn:hover,
.ZHCM_PM_0681 .zContMyUnits .zTbBlueBtn:hover .sapMBtnInner {
    cursor: pointer;
    background-color: dodgerblue;
}

.ZHCM_PM_0681 .zContMyUnits{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ZHCM_PM_0681 .zContMyUnits .zTbBlueBtn{
    margin-bottom: 0.5em;
}

.ZHCM_PM_0681 .zCompSelHeader {
    border-bottom: 2px solid rgba(209, 224, 237, 1);
    width: 100%;
}

.ZHCM_PM_0681 .zCompSelHeaderBody{
    width: 100%;
    justify-content: space-between;
}

.ZHCM_PM_0681 .zCompSelHeaderBody .zCompSelHeaderBodySecondBox.zFlexBoxWrap {
	flex-wrap:wrap ! important;
}

.ZHCM_PM_0681 .zCompSelHeaderBody .zCompSelHeaderBodySecondBox .zCompTitle{
    min-width: auto;
}
.ZHCM_PM_0681 .zCompSelHeaderBody .zCompSelHeaderBodySecondBox .zCompComboBox {
    width: 15rem;
}
.ZHCM_PM_0681 .zCompSelHeaderBody .zCompSelHeaderBodySecondBox .zCompRZL {
    width: 5rem;
    line-height: 2em;
    height: 2em;
}
.ZHCM_PM_0681 .zTextVerticalAlign {
    line-height: 2em;
    height: 2em;
    vertical-align: middle;
}

.ZHCM_PM_0681 .zCompTitle {
    font-size: 14px;
    font-weight: 700;
    margin: 0.5em;
    min-width: 7em;
}
.ZHCM_PM_0681.zReturnTextArea > textarea {
     height: 100% !important;
}
/** ------- **/
.ZHCM_PM_0681 .zPageContent {
    padding: 1rem;
}

.ZHCM_PM_0681 .zDevMethItem {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    margin: 0 0 5px 3em;
}

.ZHCM_PM_0681 .zDevMethItemError {
    background-color: white;
    border: 1px solid red !important;
    padding: 0.5rem;
}
.ZHCM_PM_0681 .zDevMethInputError {
	border: 1px solid red !important;
}
.ZHCM_PM_0681 .zTutorPanel .sapMPanelHdr {
    height: 1.5rem;
    line-height: 1.5rem;
}

.ZHCM_PM_0681 .zMethDelButton .sapMBtnInner {
    background: transparent;
    border: none;
}
.ZHCM_PM_0681 .zOverallReport {
    font-size: 12px;
    font-weight: 700 !important;
}
.ZHCM_PM_0681 .zOverallTextArea * {
    height: 5rem !important;
    opacity: 1;
    color: black;
}
/** ------- **/
.ZHCM_PM_0681.zLibDialog {
    background: white;
}

html.sap-tablet .ZHCM_PM_0681.sapMDialog.zLibDialog,
html.sap-desktop .ZHCM_PM_0681.sapMDialog.zLibDialog {
    min-width: 35rem
}

.ZHCM_PM_0681 .zLibContent {
    margin: 2% 5%;
}

.ZHCM_PM_0681 .zLibHeader {
    border-bottom: 1px solid rgb(216, 216, 216);
}
.ZHCM_PM_0681 .zTutorHeader {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.ZHCM_PM_0681 .zBigBlue {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #009DE0;
}

.ZHCM_PM_0681 .zConfirmSubheader {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(102, 102, 102); 
}

.ZHCM_PM_0681 .zLibSubheader {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.ZHCM_PM_0681 .zTutorSubHeader {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ZHCM_PM_0681.zConfirmDialog > footer > button:nth-child(2) {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}
.ZHCM_PM_0681.zConfirmDialog > footer > button:nth-child(2):hover {
    cursor: pointer;
    background-color: dodgerblue;
}
.ZHCM_PM_0681.zConfirmDialog > footer > button:nth-child(3) {
    color:white;
    font-size: 0.8rem;
}
.ZHCM_PM_0681.zConfirmDialog > footer > button:nth-child(3):hover {
     cursor: pointer;
}

.ZHCM_PM_0681 .zCommentsPanel .sapMPanelHdr {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem !important;
    padding-left: 1rem !important;
}

.ZHCM_PM_0681 .zCommentsPanel .sapMPanelExpandableIcon {
    margin: 0;
}

.ZHCM_PM_0681 .zCommentsPanel .sapMPanelContent {
    padding: 0;
}

.ZHCM_PM_0681 .zCommentsPanel .sapMFeedListItemTitleDiv.sapMLIB {

}

.ZHCM_PM_0681 .zhcm_Hap_681TopOfTheTop .sapMPageHeader::before,
.sapMPageHeader::before {
    border-top: none;
}

.ZHCM_PM_0681 .zReportIPR-EntireDevPlan {
  padding: 0 ! important;
  margin-left: 2px;
}

.ZHCM_PM_0681 .zCommentsPanel.Feed-ReduceGaps .sapMPanelContent {
  padding: 0px !important;
}

/*Все кроме тройных кнопок и блоков комментариев*/
.ZHCM_PM_0681 .zErrorBorder:not(ul):not(.sapMTextArea){
    outline: rgb(189, 0, 20) 1px solid ! important;
}

/*блок комментариев*/
.ZHCM_PM_0681 .zErrorBorder.sapMTextArea>textarea {
    border: rgb(189, 0, 20) 1px solid !important;
}

/*тройные кнопки*/
.ZHCM_PM_0681 ul.zErrorBorder>li {
    border: rgb(189, 0, 20) 1px solid !important;
    border-right-width: 0px !important;
}
/* общий отчет ко всему плану развития */
.ZHCM_PM_0681 .zErrorBorder.zOverallTextArea > div{
    outline: rgb(189, 0, 20) 1px solid !important;
}

.ZHCM_PM_0681 ul.zErrorBorder>li:nth-child(2) {
    border-right: none;
}

.ZHCM_PM_0681 ul.zErrorBorder>li:first-child {
    border-left-width: 1px !important;
}

.ZHCM_PM_0681 ul.zErrorBorder>li:last-child {
    border-right-width: 1px !important;
}

.ZHCM_PM_0681 .zFeedsStatusName {
    text-align: left;
    padding: 0.5em 0;
    border-bottom: solid 1px #e5e5e5;
    font-weight: 600;
    font-size: 1em;
    color: #333;
    width: 100%;
    margin-left: 2.81rem;
    max-width: calc(100% - 2.81rem);
}

.ZHCM_PM_0681 .zHideBigBlueText img {
    font-size: 0 !important;
}

.ZHCM_PM_0681 .zPageContent .sapMPanelBGTranslucent {
    padding: 0.3em;
}

/* --------------------------------------- Ivan Nikolaev Misc Fixes --------------------------------------- */

/* Убираем пунктирную обводку у иконок в ИЕ */
html[data-sap-ui-browser^='ie'] .ZHCM_PM_0681 .sapUiIcon:focus::after,
html[data-sap-ui-browser^='ed'] .ZHCM_PM_0681 .sapUiIcon:focus::after {
    border: none !important;
}

.ZHCM_PM_0681 .zBoldText {
    font-weight: 700 !important;
}
.ZHCM_PM_0681 .zRedText {
    color: red !important;
}
.ZHCM_PM_0681 .zMoveUp15 {
    transform: translateY(-15px);
}
.ZHCM_PM_0681 .zOpacity1 {
    opacity: 1;
}

.ZHCM_PM_0681 .zCompetencyItem {
    padding: 0px 3px 3px 3px;
    margin-bottom: 5px;
}

.ZHCM_PM_0681 .zWhiteSpaceNormal,
.ZHCM_PM_0681 .zWhiteSpaceNormal * {
    white-space: normal;
}
.ZHCM_PM_0681 .zWhiteSpaceNowrap,
.ZHCM_PM_0681 .zWhiteSpaceNowrap * {
    white-space: nowrap;
}
.ZHCM_PM_0681 .sapMInputBaseDisabled.zOverallTextArea {
    opacity: 1;
}
.ZHCM_PM_0681 .zDevTypePanelToolbarContent {
    flex-direction: column;
    align-items: flex-end;
}

.ZHCM_PM_0681.zCustomMessageBox > footer button:nth-child(2) > span {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}

.ZHCM_PM_0681.zCustomMessageBox > footer button:nth-child(2):hover > span {
     cursor: pointer;
     background-color: dodgerblue !important;
}

.ZHCM_PM_0681.zCustomMessageBox > footer button:nth-child(3) > span {
    color:white !important;
    font-size: 0.8rem;
    border: firebrick 1px solid;
    background-color: firebrick !important;
}

.ZHCM_PM_0681.zCustomMessageBox > footer button:nth-child(3):hover > span {
    cursor: pointer;
    background-color: red !important;
}

.ZHCM_PM_0681.zCustomMessageBox > footer {
    background-color: #363e43f5 !important;
}

.ZHCM_PM_0681 .zLibHeaderStatisticalReport{
    border-bottom: 1px solid lightgray;
    padding: 0.5em 0;
    background: #f4f4f4;
}

.ZHCM_PM_0681 .zLibHeaderStatisticalReportSubheader{
    font-weight: normal;
}

.ZHCM_PM_0681 .selProcIPRErr{
    border-color: red !important;
}

.ZHCM_PM_0681 .selProcIPRErr:hover{
    border-color: rgb(160, 0, 0);
}

.ZHCM_PM_0681 .selProcIPRErr:active{
    border-color: rgb(160, 0, 0);
}

.ZHCM_PM_0681 .selProcIPRErr .sapMSltArrow{
    background: red !important;
    color: white;
}

.ZHCM_PM_0681 .selProcIPRErr:focus{
    border-color: rgb(184, 0, 0);
}

.ZHCM_PM_0681 span.selProcIPRErr{
    margin-top: -2.5em;
    position: absolute;
    font-size: 12px;
    color: red;
}

.ZHCM_PM_0681 .zTutorPanel .sapMPanelBGTranslucent.sapMPanelContent.sapMPanelExpandablePart {
    padding-top:0rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 0rem;
    overflow-x: hidden;
}

/* Для IE calc(100vw - (100vw - 100%)) НЕ РАБОТАЕТ !!! */
.ZHCM_PM_0681 .zTableMyUnits {
    width: calc(100vw - 20px) !important;
    padding-left: 20px;
}    




@media (min-width: 300px) and (max-width: 414px) {
    .ZHCM_PM_0681 .zCompSelHeader,
    .ZHCM_PM_0681 .zCompSelHeaderTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
    }
    .ZHCM_PM_0681 .zCompSelHeaderElem:last-child{
        border-bottom: 2px solid rgba(209, 224, 237, 1);
    }
    .ZHCM_PM_0681 .zCompSelHeader.zCompLvl .sapMFlexItem:first-child {
        width: 20%;
    }
    .ZHCM_PM_0681 .zCompSelHeader.zCompLvl .sapMFlexItem:last-child {
        width: 75%;
    }
    .ZHCM_PM_0681 .zCompSelHeader .sapMFlexItem:last-child .zCompComboBox {
        width: 100%;
    }
    .ZHCM_PM_0681 .zDevMethodsWeight{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.3em 0em !important;
    }
    .ZHCM_PM_0681 .zCompResultAndProcent{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0 0.5em;
    }
    .ZHCM_PM_0681 .zCompResultAndProcentTXT{
        font-weight: normal;
    }
    .ZHCM_PM_0681 .zCompResultAndProcentDATA{
        color: #199edd;
        font-weight: 600;
        padding-left: 0.4em;
    }

    .ZHCM_PM_0681 .zTutorPanel {
        background-color: transparent !important;
    }
    .ZHCM_PM_0681 .zTutorPanel .sapMPanelBGTranslucent.sapMPanelContent.sapMPanelExpandablePart {
        padding-top:0rem;
        padding-bottom: 0.5rem;
        padding-left: 0rem;
        padding-right: 0rem;
        overflow-x: hidden;
    }    
    .ZHCM_PM_0681 .zTutorPanel .sapMPanelExpandableIcon {
        margin: 0;
        width: 1.75rem;
    }
    .ZHCM_PM_0681 .zTutorPanel .sapMPanelHdr {
        margin-left: 1.625rem;
    }

    .ZHCM_PM_0681 .zTextVerticalAlign {
        line-height: 3em;
        height: 3em;
        vertical-align: middle;
    }

    .ZHCM_PM_0681 .zDatePicker {
        width: 12.80rem !important;
        padding-left: 12px;
    }

    .ZHCM_PM_0681 .zDevMethItem {
        background-color: white;
        border: 1px solid #cccccc;
        padding: 0.5rem;
        margin: 0 0 5px 3em;
        width: calc(100vw - 35px) !important;
    }

    .ZHCM_PM_0681 .zCompTitle {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0.5em;
        min-width: 7em;
    }

    .ZHCM_PM_0681 .zPanelMarginTop {
        margin-top: 0.5rem;
    }
    .ZHCM_PM_0681 .zVerticalAlignTop {
        vertical-align: top;
    }
    
}

